#search-form {
  position: relative;
  top: 30px;
}
.button {
  border-color: #79c2d0;
}
#city-input {
  border-radius: 30px;
  border: 3px solid #79c2d0;
}
.current-button {
  background-color: #66bfbf;
  border-color: #79c2d0;
  margin-left: 20px;
}
